@using Abp.Authorization.Users
@using Abp.MultiTenancy
@model toyiyo.todo.Web.Models.Account.RegisterCompanyAdminViewModel
@{
    ViewBag.Title = L("RegisterNewCompany");
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<h4 class="text-center">@L("RegisterNewCompany")</h4>
<form id="RegisterForm" asp-action="RegisterCompanyAdmin" method="post">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fas fa-warning" aria-hidden="true"></i> @ViewBag.ErrorMessage
        </div>
    }
    <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
    <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />
    
     <div class="form-outline input-group mb-3">
        <input type="text" name="TenancyName" class="form-control form-control-lg" placeholder="@L("DomainName")" value="@Model.TenancyName" maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2" pattern="@AbpTenantBase.TenancyNameRegex" required="required">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-building"></span>
            </div>
        </div>
    </div>   

     <div class="form-outline input-group mb-3">
        <input type="text" name="Name" class="form-control form-control-lg" placeholder="@L("CompanyName")" value="@Model.Name" required maxlength="@AbpTenantBase.MaxNameLength" minlength="2">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-building"></span>
            </div>
        </div>
    </div>  

    <div class="form-outline input-group mb-3">
        <input type="email" name="EmailAddress" class="form-control form-control-lg" placeholder="@L("AdminEmailAddress")" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>

    <div class="form-outline input-group mb-3">
        <input type="password" name="Password" class="form-control form-control-lg" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <a asp-action="Login" class="btn btn-default btn-flat"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> @L("Back")</a>
        </div>
        <div class="col-4">
            <button type="submit" id="RegisterButton" class="btn btn-primary btn-flat float-right">@L("Register")</button>
        </div>
    </div>
</form>
