@using toyiyo.todo.Web.Models.Common.Modals
@model toyiyo.todo.Web.Models.Jobs.EditJobModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditJob")))
<form name="JobEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="jobStatus" value="@Model.JobStatusId" />
    <input type="hidden" name="descriptionFromServer" id="descriptionFromServer" value="@Model.Description" />
    <div class="modal-body">
        <div class="form-group row d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="actions">
                <button type="button" class="btn btn-default btn-pane-template" title="set job status"></button>
                <button type="button" class="btn btn-default btn-pane-get-link" title="get link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-default delete-job" data-job-id="@Model.Id" data-toggle="modal" data-target="#JobDeleteModal" title="delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="title">@L("JobTitle")</label>
            <div class="col-md-9">
                <input id="title" class="form-control" type="text" name="title" value="@Model.Title" required maxlength="500" minlength="2">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="description">@L("JobDescription")</label>
            <div class="col-md-9">
                <div id="Description" class="form-control" name="Description" maxlength= "2000000" minlength="2"></div>
            </div>
        </div>        
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/view-resources/Views/Jobs/_EditModal.js" asp-append-version="true"></script>
