<footer class="main-footer">
    <div class="float-left nav-link">
        <p>Copyright &copy; @DateTime.Now.Year Toyiyo, llc</p> 
    </div>
    <div class="float-right">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Privacy", "Legal")">@L("Privacy")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Terms", "Legal")">@L("Terms")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Cookies", "Legal")">@L("Cookie")</a>
            </li>
        </ul>
    </div>
</footer>
